*,*::after,*::before{
    padding:0;
    margin:0;
line-height: 1.5;
box-sizing: border-box;
font-family:Arial, Helvetica, sans-serif;

}
a{
    color:white;
    text-decoration: none;
}
:root{
    --color:whitesmoke;
    --FS:clamp(1vw,1.2rem,3vw);
}
html body{
    overflow-y: scroll;
    overflow-x: hidden;
}
.header{
min-height:50vh;
width:100%;
background-color: black;
 display:flex;
 flex-direction: column;
 position:relative;
 overflow: hidden;
}
.hidden{
    width:0%;
    opacity:0%;
}
.header__nav{
background-color: black;
color:white;
display:flex;
position: relative;
gap:2em;
width:100vw;
height: 4rem;
flex-direction: row;
justify-content: space-around;
align-items: center;
}
.logo{
    text-transform: uppercase;
}
.logo::first-letter{
    color:orangered;
}
.header__video{
    height:100%;
}


.header__links{
    margin:0 1em 0 1em;
    z-index:100;
    position:relative;
    display:flex;
    justify-content: space-between;
    text-align: center;
width: 100%;
}
.list{
    list-style: none;
    text-align: center;
    font-size: 1em;
}
h1{
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
}
p{
    font-weight: 100;
    font-size: small;
}
.header__link{
    
    text-transform: capitalize;
    cursor:pointer;
}
.header__link:hover{
    color:lime
}
.header__content{
    position:absolute;
    display:flex;
    flex-direction: column;
    text-align: center;
    gap:0.5em;
    align-items: center;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    
}
.header__content h3{
    text-transform: capitalize;
}
.link{
    margin-top: 2em;
    text-transform: capitalize;
    padding-block: 0.5em;
    border:solid orange 2px;
    background-color: transparent;
    
}
.header__video{
    width:100%;
    height: 100%;
}
.mobile-nav-btn{
    display:none;
    background-image: url("./images/menu.png");
    width:25px;
    height:25px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: transparent;
    color: black;
}
@media screen and (max-width:900px){

    .header__video{
        width:100%;
        height: 100%;
    }
    .header__nav{
        width:100%;
        position: relative;
    }
    .header__links{
flex-direction: column;
position:absolute;
top:100%;
transform:translateX(100%);
width:100vw;
height:100vh;
background-color:rgba(128, 0, 128, 0.384);
backdrop-filter: blur(2em);
    }
    .nav-open{
        transition:transform 100ms ease-in-out;
        transform:translateX(0%);
        }

    .header__content{
        gap:0.5em;
        font-size: 1em;
    }
    .header__content a ,h3{
        display:none;
    }
    .mobile-nav-btn{
        display:inline;
    }
    .overflow{
        overflow-y: hidden;
    }
    .header--small{
        min-height: 100vh;
    }
    .logo{
        width:100%;
        text-align: center;
        font-size: 1.5em;
    }
}
.main{
    min-height: 100vh;
    width:100%;
    margin-block: 4em;
    overflow-x: hidden;
}
.container{
    width:90%;
    max-width:1440px;
    margin-inline:auto auto;
}

.main__section{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:4em;
    margin-block:2em;

}
.main__section-header{
text-transform: uppercase;
}
.section-letter{
    color:rgba(194, 135, 25, 0.767);
    background-color: orange;
    font-size: 2em;
    padding-inline:0.2em;
    text-align: center;
    border-radius:10px;
    font-family: cursive;
}
.main__section-book{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:auto;
     
}
.book-image{
    height:500px;
    width:auto;
}
.book-form{
    display:flex;
    width:100%;
    flex-direction:column;
    align-items: flex-start;
    justify-content:center ;
    font-size:clamp(1vw,1em,4vw);
    background-color:white;
    padding-inline: 1em;
    gap:0.5em;
    box-shadow:2px 2px 10px 3px whitesmoke,-2px -2px 10px 3px whitesmoke;
}
.book-form label{
    text-transform: capitalize;
    font-weight: bold;
    color:grey
}
.book-form input{
    width:100%;
    border:solid 0.5px rgb(194, 194, 194);
    height: 10%;
    margin-block: .1em;
    outline: none;
    padding-inline:0.5em;
    padding-block:1em;
}
input::placeholder{
    text-transform: capitalize;
}
.btn{
    border:none;
    color:white;
    background-color: orange;
    text-transform: capitalize;
    padding-inline:3em;
    padding-block: 0.5em;
    border:solid orange 2px;
}
@media screen and (max-width:900px) {
    .main__section-book{
        grid-template-columns: 1fr;
grid-template-rows: repeat(2,500px);
    }
    .book-image{
      width:100%;
    }
    .book-form{
width:95%;
    }
    .main__section-book{
        gap:1em;
        justify-items: center;
    }
}
.main__section-cards{
display:grid;
grid-template-columns: repeat(3,1fr);
row-gap: 2em;
column-gap: 2em;;
}
.card-img{
    width:100%;
}
.card{
display:flex;
flex-direction: column;
align-items: flex-start;
width:100%;
gap:1em;
height:auto;
overflow: hidden;
border-radius: 10px;
padding-bottom: 1em;
box-shadow:2px 2px 10px 5px whitesmoke,-2px -2px 10px 5px whitesmoke;
justify-self: center;
}
.card div{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1em;
    gap:1.5em;
}
.card .discount{
    text-decoration:line-through;
    margin-left:0.5em;
}
@media screen and (max-width:900px)
{
    .card{
        width:90%;
        
    }
    .section-letter{
        font-size: 1em;
    }   
    .main__section-cards{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        
    }
    .card div,p{
align-items: center;
text-align: center;
    }
}
.main__section-services{
    display:grid;
    overflow: hidden;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(2,200px);
    gap:1em;
}
.service{
    width:100%;
    text-align: center;
    display:flex;
    flex-direction:column;
    gap:0.5em;
    align-items: center;
    justify-content: center;
    padding-inline:0.5em;

}

.service:hover{
    box-shadow:2px 2px 10px 5px whitesmoke,-2px -2px 10px 5px whitesmoke;
    cursor: pointer;
}
@media screen and (max-width:900px) {
    .main__section-services{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    .service{
        padding-block:2em;
        padding-inline:0.5em;
    }
}
.main__section-gallery{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 2em;
    column-gap: 2em;
    align-items: center;
    justify-content: space-between;
}
.pic{
    box-shadow:2px 2px 10px 5px whitesmoke,-2px -2px 10px 5px whitesmoke;
    padding:0.5em;
    position:relative;
    width:100%;
}
.pic-img{
    height:200px;
    width:inherit;
}
.drop-down{
    position:absolute;
    background-color: rgba(0, 0, 0,0.5);
    height:0px;
    width:95%;
    opacity:0;
    text-align: center;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
    transition:all 300ms linear;
}
.drop-down:hover{
    transition:all 300ms linear;
    height:200px;
    opacity: 1;
}
.drop-down:a{
    transition:all 300ms linear;
    height:200px;
    opacity: 1;
}

.review-container{
    position:relative;
width: 1000px;
height: 250px;
cursor: grab;
overflow: hidden;
}
.main__section-reviews{
display:grid;
grid-template-columns: repeat(6,1fr);
grid-template-rows: auto;
pointer-events: none;
position:absolute;
pointer-events: none;
top:0%;
left:0%;
gap:1rem;
}
.review{
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
width:250px;
justify-self: center;
text-align: center;
box-shadow:2px 2px 10px 5px whitesmoke,-2px -2px 10px 5px whitesmoke;
padding-block: 1em;
}
.review-img{
    width:50%;
    border-radius:50%;
}
.footer{
    width:100vw;
    background-color: black;
    min-height: 50vh;
    color:white;
    display:flex;
}

.footer .container div{
width: 200px;
padding-block:2em;
}
.footer .container  h1{
    text-align: left;
}
ul li{
    text-transform: capitalize;
}
.footer p{
    text-align: left;
}
.footer .container  ul{
    text-align: left;
    font-weight: 100;
}
.footer .container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    height:100%;
    gap:1em;
}
@media screen and (max-width:900px)
{
    .main__section-gallery{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        
    }
.hide{
    display:none;
}
}